@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #020617;        /* slate-950 */

    --surface: #ffffff;           /* карточки, хедер */
    --surface-muted: #f3f4f6;     /* slightly gray surface */

    --border-subtle: #e5e7eb;     /* light border */
    --accent: #6366f1;            /* indigo-500 */
    --accent-soft: rgba(99, 102, 241, 0.12);

    --text-muted: #6b7280;        /* gray-500 */
}

.dark {
    --background: #020617;        /* slate-950 */
    --foreground: #e5e7eb;        /* zinc-200 */

    --surface: #020617;           /* почти фон, но можно поднять */
    --surface-muted: #1a1a1d;     /* zinc-950-ish */


    --border-subtle: #27272a;     /* zinc-800 */
    --accent: #818cf8;            /* indigo-400 */
    --accent-soft: rgba(129, 140, 248, 0.16);

    --text-muted: #a1a1aa;        /* zinc-400 */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-surface: var(--surface);
    --color-surface-muted: var(--surface-muted);

    --color-border-subtle: var(--border-subtle);

    --color-accent: var(--accent);
    --color-accent-soft: var(--accent-soft);

    --color-text-muted: var(--text-muted);
}

/* Fallback на system theme, если нет управляемой .dark/.light */
@media (prefers-color-scheme: dark) {
    :root:not(.dark):not(.light) {
        --background: #020617;
        --foreground: #e5e7eb;
        --surface: #020617;
        --surface-muted: #09090b;
        --border-subtle: #27272a;
        --accent: #818cf8;
        --accent-soft: rgba(129, 140, 248, 0.16);
        --text-muted: #a1a1aa;
    }
}

/* Базовые стили body */
body {
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-background text-foreground antialiased;
}

.gutter { @apply px-4 sm:px-16; }

